{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'memberships/css/checkout.css' %}">
{% endblock %}
{% block extra_title %}
    - Select Package
{% endblock %}
{% block page_header %}
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-shadow title">Select Package - <small>Current Membership: {{ current_package }}</small></h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <!-- Here handle setting out the membership package options -->
    <div class="container col-sm-12 col-md-10 offset-md-1 notice-container fade-in">
        <div class="row">
            {% for package in packages %}
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ package.package_type}}</h5>
                        <p>Price: €{{ package.package_price }}<small>/month</small></p>
                        <!-- What package includes - entered manually as didnt see need to add to model -->
                        <h4>Includes:</h4>
                        {% if package.package_type == 'Free' %}
                        <ul>
                            <li>Create user profile</li>
                            <li>Browse all notices</li>
                        </ul>
                        {% else %}
                        <ul>
                            <li>Create notices</li>
                            <li>Receive A Time account Balance</li>
                            <li>Receive complementary 10 hours of Time after first signing up to premium</li>
                            <li>Spend and receive Time when when providing or receiving help from other members</li>
                            <li>Create user profile</li>
                            <li>Browse all notices</li>
                            <li class="text-success"><strong>Remember... all profits go to Charity</strong></li>
                        </ul>
                        {% endif %}
                        <!-- Check to see what current package is and set out select button -->
                        {% if package.package_type != 'Free' %}
                        <form method="POST" action="{% url 'packages' %}">
                            {% csrf_token %}
                            {% if package.package_type != current_package %}
                                <button class="btn btn-warning shadow">Select</button>
                            {% else %}
                                <small class="text-warning">You are currently a {{ current_package }} Member</small>
                            {% endif %}
                            <!-- pass in the selection - keep hidden -->
                            <input type="hidden" name="package_type" value="{{ package.package_type }}">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}