{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Home
{% endblock %}

{% block page_header %}
<div class="container bg-transparent rounded fade-in">
    <h3 class="text-shadow d-block d-md-none">Lend a Hand & save Time..</h3>
    <h2 class="text-shadow d-none d-md-block">Lend a Hand & save Time..</h2>
</div>
{% endblock %}

{% block content %}
<div class="container bg-light rounded">
    <h1 class="text-center fade-in">What is eHand</h1>
    <p class="fade-in">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta asperiores rerum ad eligendi odit iure
        consequuntur facere ratione quaerat itaque eius eum, quod veniam commodi, quam vitae aperiam. Distinctio officia
        natus, quisquam quam debitis eaque eum architecto incidunt sapiente quasi? Rem eligendi mollitia enim cumque
        veritatis ex ut aspernatur vitae in dolor quos atque maiores cupiditate earum similique officia illum, eum
        reiciendis dolorum perspiciatis! Rem vitae quasi voluptatum dignissimos repellendus distinctio assumenda
        nesciunt dicta deleniti porro laudantium asperiores qui quas iure quidem sequi et placeat aspernatur modi aut,
        amet neque cupiditate maiores! Perferendis laborum cum suscipit a maxime ipsa nostrum necessitatibus,
        reprehenderit porro odio doloribus facere fugiat pariatur architecto fugit enim quaerat iste rerum omnis
        nesciunt qui minima corrupti ipsam accusamus. Quisquam repellendus sapiente ex, tenetur corporis, commodi alias
        ab fugiat consequatur, eaque hic cumque ipsum vero natus? Quam ipsa ex quod. Dignissimos unde doloremque ex
        eveniet maiores quia animi harum. Rem optio, nemo dolore illo ea, ex ducimus at eius facere molestiae voluptatem
        consequatur, odit reprehenderit. Perspiciatis quod facilis rem earum magnam ipsam id culpa doloremque fugit
        tempore nihil commodi illo ex temporibus nulla totam, ad atque nemo, rerum odio qui? Maiores consequuntur
        perferendis, illo sapiente, impedit dolor deserunt ea amet eius corporis iure porro? Neque deleniti expedita
        
    </p>
</div>
{% endblock %}