{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Home
{% endblock %}

{% block page_header %}
<div class="container bg-transparent rounded fade-in">
    <h3 class="text-shadow d-block d-md-none slide-in from-left">Lend a Hand</h3>
    <h3 class="text-shadow d-block d-md-none offset-4 slide-in from-right"> & save Time..</h3>
    <h2 class="text-shadow d-none d-md-block slide-in from-left">Lend a Hand</h2>
    <h2 class="text-shadow d-none d-md-block offset-md-3 offset-lg-2 slide-in from-right"> & save Time..</h2>
</div>
{% endblock %}

{% block content %}
<div class="container bg-light rounded pt-4 pb-4">
    <h1 class="text-center fade-in">What is eHand?</h1>
    <p class="fade-in intro highlight">
        <em>eHand</em> is a platform that allows you to help real people in your community, or Worldwide, and allow them to help you!
        <br> And what you get in return is the very thing you gave in the first place - <em>TIME!</em>
    </p>
        <p class="fade-in intro mt-4">
        <em>eHand</em> was born out of the experience being helped in the past. Perhaps you asked a neighbour to put out your bin while you were away, 
        or perhaps you got a friend to give you a hand with a bit of fencing. Whatever it was, quite often any attempt to reward this help is shunned, because
        they just want to help out and thats great. And often in my experience, throwing money around often leads to an awkwardness that complicates the issue.
    </p>
    <p class="callout fade-in intro highlight">
        <em>Wouldent it be nice to give something back?
        <br>Something better than money or wine or biscuits?
        <br> Wouldent it be great if you could give back, what they so freely gave?
        <br>
        <br>
        Well with eHand you give back TIME!</em>
    </p>
</div>
<div class="container bg-light rounded mt-5">
    <h1 class="text-center fade-in">How to use eHand</h1>
        <p class="fade-in intro">
        As an <em>eHand</em> member you can browse Notices from our community of members, If you see a notice that you believe you may be able to help with, 
        click the details button to see more details and / or send a question directly to the author of the notice, to get some more details.<br>
        Once you are happy to offer assistance, simply click on the Details button of the chosen notice, then select the Commit to help button.<br>
        This notice will then be loaded into My Commitments inside your Profile area, from here you can view and manage your commitments by choosing to remove your commitment to any notice
        should you choose to.
    </p>
</div>
{% endblock %}