{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block extra_title %}
    - Profile - My Commitments
{% endblock %}
{% block page_header %}
    <div class="btn-toolbar justify-content-center mb-5 container-fluid" role="toolbar" aria-label="Toolbar">
        <div class="btn-group" role="group" aria-label="Notice tools">
            <a href="{% url 'profile' %}" class="btn btn-light toolbar-item slide-in from-left"><i class="fas fa-user pr-3 d-none d-sm-inline"></i>My Profile</a>
            <a href="{% url 'member-commitments' %}" class="btn btn-light toolbar-item"><i class="fas fa-file-contract pr-3 d-none d-sm-inline"></i>My Commitments</a>
            <a href="{% url 'member-notices' %}" class="btn btn-light toolbar-item slide-in from-right"><i class="fas fa-file-contract pr-3 d-none d-sm-inline"></i>My Notices</a>
        </div>
    </div>
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="text-shadow">{{ user.username|title }}'s Commitments ( {{ page_obj.paginator.count }} )</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container col-sm-12 col-md-10 offset-md-1 notice-container fade-in">
        <div class="row">
            {% for object in object_list %}
            <!-- Display the members commitments here -->
            <div class="col-sm-12">
                <div class="card h-200 shadow-sm mb-3">
                    <div class="card-body">
                        <h5 class="card-title border rounded text-white bg-info p-2 shadow"><strong>{{ object.title}}</strong> on: <small><em>  Requested by {{ object.author }}</em></small></h5>
                        <p class="card-text"><strong>{{ object.long_description }}</strong></p>
                        <div class="card-title border rounded text-white bg-warning p-2 shado5">
                            <h5 class=" text-center"><strong><em>You have committed to this notice</em></strong></h5>
                            <h5>Please remember:</h5>
                            <ul>
                                <li>Once committed to a Notice you are obliged to carry out the help you have committed
                                    to on the date and time agreed with the author</li>
                                <li>If you wish to no longer commit to this message you can remove your commitment by clicking
                                    on the <em>Remove my commitment to this notice</em> button below
                                </li>
                            </ul>
                        </div>
                        <p class="border rounded bg-light p-2 shadow-sm"><strong>When: </strong> enter here =========</p>
                        <p class="border rounded bg-light p-2 shadow-sm"><strong>Where: </strong>{{ object.event_location_postcode}}</p>
                        <h6 class="border rounded bg-light p-2 shadow-sm">Duration/ Payment: {{ object.duration }}</h6>
                    </div>
                    <div class="container col-12">
                        <div class="row justify-content-center">
                            {% if user.is_authenticated and user == object.commit %}
                                <form action="{% url 'notices:cancel-notice' object.id %}" method="POST" class="col-10 col-md-6 p-0 mt-2 mb-4">
                                    {% csrf_token %}
                                    <button type="submit" class="col-12 btn btn-outline-danger" value="{{ object.id }}" name="notice_id">Remove my commitment to this notice</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Thanks to https://samulinatri.com/blog/django-pagination-tutorial/ for help in getting this done -->
        {% if is_paginated %}
            <!-- Deal with previous pages -->
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-dark">First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">Previous</a>
            {% endif %}

            <!-- Deal with arranging some quick link buttons for nearby pages -->
            {% for index in page_obj.paginator.page_range %}
                <!-- check if we are on current page - display current page as a link highlighted -->
                {% if page_obj.number == index %}
                    <a href="?page={{ index }}" class="btn btn-dark">{{ index }}</a>

                <!-- Now we want to display a couple of the nearby pages as direct links -->
                <!-- So if the index in the loop is within 2 pages then include a link to that page -->
                {% elif index < page_obj.number|add:'2' and index > page_obj.number|add:'-2' %}
                    <a href="?page={{ index }}" class="btn btn-outline-dark">{{ index }}</a>
                {% endif %}
            {% endfor %}

            <!-- Deal with pnext pages -->
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-dark">Last</a>
            {% endif %}


        {% endif %}
    </div>
    

{% endblock %}