{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
    - Profile
{% endblock %}

{% block page_header %}   
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="text-shadow">Profile</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container col-sm-12 col-md-10 offset-md-1 notice-container fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card mh-100 mb-3 shadow">
                    <div class="card-header">Profile Information</div>
                    <div class="card-body">
                        
                        <p>users_current_package : {{ users_current_package }}</p>
                        <p>users_current_subscription : {{ users_current_subscription }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card mh-100 card text-white bg-dark mb-3 shadow">
                    <div class="card-header">My Settings</div>
                    <div class="card-body">
                        <h4 class="border-bottom mb-4">Manage my subscription</h4>

                        <!-- Check current user package -->
                        {% if users_current_package != None %}
                            <p>Your current membership is: <small class="text-success">{{ users_current_package.membership_type }}</small></p>

                            <!-- If user has a current subscription -->
                            {% if users_current_subscription.valid != False %}
                                <p>Created on: <small class="text-success">{{ users_current_subscription.get_created_date }}</small></p>
                                <p>Your next payment is due on: <small class="text-success">{{ users_current_subscription.get_next_payment_date }}</small></p>
                                <p><a href="{% url 'cancel_sub' %}" class="btn btn-outline-danger">Cancel my subscription</a></p>
                            {% else %}
                                <p>You currently are not a premium member. Find out the benefits here: <a href="{% url 'packages' %}" class="btn btn-outline-success">Discover Premium</a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}