/* Over-ride base.css */
 #page-content {
     top: 40vh;
}
.toolbar-item {
    border: 0.2px #c2fa00 solid;
    background-color: #f8f8ff;
    transition: 0.5s;
    color: #00000080;
}

.toolbar-item:focus,
.toolbar-item:hover {
    -webkit-box-shadow: 0 1px 6px 0 #c2fa00;
    border: 0.2px #c2fa00 solid;
    box-shadow: 0 1px 6px 0 #c2fa00;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    color: black;
}