/* Over-ride base.css */
#page-heading {
     margin-top: 100px;
}
#page-content {
    margin-top: 10px;
}

/* Page logo - MEDIA QUERIES */
/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:768px) {
    #page-heading {
     margin-top: 250px;
    }
}
