/* General ----------------------------------------*/
 body {
     font-family: "Nunito", sans-serif;
     color: #444444;
     background: url('/media/hand_1024x768.png') no-repeat center center fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     height: 2000px;
}
 .box-shadow {
     -webkit-box-shadow: 0 1px 6px 0 #c2fa00;
     box-shadow: 0 1px 6px 0 #c2fa00;
}
 a {
     color: #009970;
}
 a:hover {
     color: #00cc95;
     text-decoration: none;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: "Nunito", sans-serif;
}

/* Page Logo ------------------------------------ */
 #page-logo-container {
     z-index: 1;
}
 #page-logo {
     max-height: 200px;
}
 #page-logo img {
     padding: 0px;
     margin: 0px;
     max-height: 80px;
}

/* Navbar -------------------------------------- */
.navbar {
    z-index: 999;
    background-color: transparent;
}
.navbar-light .navbar-toggler {
    border: none !important;
    font-size: 2rem;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f8ff;
    font-size: 1.6rem;  
}

#sideNav-heading {
    width: 80%;
    margin-top: 100px;
    color: #f8f8ff;
    border-bottom: 0.8px solid #f8f8ff;
}

.navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    transition: all 0.2s ease;
    bottom: 0;
    top: 0;
    left: -70%;
}

.navbar-collapse.show .navbar-nav {
    position: fixed;
    transition: left 0.50s ease;
    background-color: #555555;
    padding-left: 25px;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: 70%;
    height: auto;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
}

/* Navbar - MEDIA QUERIES */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
 @media (min-width:576px){

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:768px) {

}
/* big landscape tablets, laptops, and desktops */
 @media (min-width:992px) {
    #sideNav-heading {
        display: none;
    }
    .navbar{
        position: fixed;
        margin-top: 200px;
    }
    .btn-nav {
        
    }
}