/* General ----------------------------------------*/
 body {
     font-family: "Nunito", sans-serif;
     color: #444444;
     background: url('/media/hand_1024x768.png') no-repeat center center fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     height: 2000px;
     scroll-behavior: smooth;
}
 .box-shadow {
     -webkit-box-shadow: 0 1px 6px 0 #c2fa00;
     box-shadow: 0 1px 6px 0 #c2fa00;
}
 a {
     color: #009970;
}
 a:hover {
     color: #00cc95;
     text-decoration: none;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: "Nunito", sans-serif;
}
 .margin-top-200 {
     margin-top: 200px;
}
 .margin-top-150 {
     margin-top: 150px;
}
/* Page Logo ------------------------------------ */
 #page-logo-container {
     z-index: 1;
}
 #page-logo {
     max-height: 200px;
}
 #page-logo img {
     padding: 0px;
     margin: 0px;
     max-height: 80px;
     transition: 1s;
}
/* Page logo - MEDIA QUERIES */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
 @media (min-width:576px){
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:768px) {
     #page-logo img {
         max-height: 120px;
    }
}
/* big landscape tablets, laptops, and desktops */
 @media (min-width:992px) {
     #page-logo img {
         max-height: 160px;
    }
}
/* Navbar -------------------------------------- */
 .navbar {
     position: fixed;
     z-index: 999;
     transition: 0.5s;
     background-color: transparent;
     top: 0px;
}
 .slimNav {
     width: 200px;
     right: 0px;
}
 .nav-item {
     border: 0.2px #f8f8ff solid;
     background-color: #f8f8ff;
}
 .first-btn {
     border-top-left-radius: 10px;
}
 .last-btn {
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
}
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
     color: black;
}
 .navbar-light .navbar-toggler {
     border: none;
}
 .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
     outline: none;
     box-shadow: none;
}
 nav .navLogo img {
     display: none;
     transition: 1s;
     padding: 0;
     margin: 0;
     max-height: 60px;
}
 .fixed-navbar {
     background-color: #f8f8ff;
     width: 100%;
     -webkit-box-shadow: 0 4px 10px -2px #555555;
     box-shadow: 0 4px 10px -2px #555555;
}
/* Navbar - MEDIA QUERIES */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
 @media (min-width:576px){
     .navbar {
         top: 0px;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:768px) {
     .navbar {
         top: 150px;
    }
     .slimNav {
         width: 100%;
         float: none;
    }
     .nav-item {
         border: 0.2px #c2fa00 solid;
         background-color: #f8f8ff;
    }
     .nav-item {
         width: 100px;
         transition: 0.5s;
    }
     .nav-item:hover {
         -webkit-box-shadow: 0 1px 6px 0 #c2fa00;
         box-shadow: 0 1px 6px 0 #c2fa00;
    }
     .first-btn {
         border-top-left-radius: 10px;
         border-bottom-left-radius: 10px;
    }
     .last-btn {
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
         border-bottom-left-radius: 0px;
    }
}
/* big landscape tablets, laptops, and desktops */
 @media (min-width:992px) {
}
/* Page Content ------------------------------- */
 #page-content {
     position: relative;
     top: 90vh;
     color: #555555;
     background-color: transparent;
}
/* fade element classes ---------------------- */
.fade-in {
    opacity: 0;
    transition: .5s ease-in;
}
.fade-in.show{
    opacity: 1;
}
