{% extends "base.html" %}
{% block extra_css %}
{% endblock %}
{% block extra_title %}
{% endblock %}
<!-- Common allauth header section -->
{% block page_header %} 
    <div class="container col-sm-12 col-md-6 offset-md-3 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {% block inner_header %}   
                
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- Allauth template body section -->
{% block content %}
    <div class="container col-sm-12 col-md-6 offset-md-3 fade-in">
        <div class="row">
            <div class="col">
                <div class="card bg-transparent">
                    <div class="opaque"></div>
                    <div class="card-body text-white">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}