{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block extra_title %}
    - {% trans "Sign Out" %}
{% endblock %}

{% block inner_header %}   
    <h2 class="text-shadow title mt-5">{% trans "Log Out" %}</h2>
{% endblock %}

{% block inner_content %}
    <p class="ehand-green-text">{% trans 'Notices are updated continuously, please remember to check your own, and other members notices regularly.' %}</p>
    <p>{% trans 'Are you sure you want to log out?' %}</p>
    <form class="mt-5" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-success ehand-green-bg" type="submit">{% trans 'Yes Log out' %}</button>
    <a href="{% url 'home' %}" class="btn btn-light ml-2">{% trans 'Cancel' %}</a>
    </form>
{% endblock %}
