{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block extra_title %}
    - {% trans "Password reset" %}
{% endblock %}


{% block inner_header %}   
    <h2 class="text-shadow title">{% trans "Password reset" %}</h2>
{% endblock %}


{% block inner_content %}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please click on the link provided within the email to reset your eHand password.{% endblocktrans %}</p>
{% endblock %}
