{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block extra_title %}
    - {% trans "Reset confirmed" %}
{% endblock %}


{% block inner_header %}   
    <h2 class="text-shadow title">{% trans "Password reset! " %}</h2>
{% endblock %}

{% block inner_content %}
    <p><i class="far fa-check-circle text-success mr-4"></i>{% trans 'Your password has now been successfully changed.' %}</p>
    <a href="{% url 'account_login' %}" class="btn btn-success ehand-green-bg pr-3 pl-3">{% trans 'Login' %}</a>
{% endblock %}