{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Home
{% endblock %}

{% block page_header %}
    <div class="container bg-light rounded">
        <h1 class="text-center">Welcome to my notice board page</h1>
    </div>
    <div class="container bg-light rounded fade-in">
        <h1 class="text-center">Welcome to eHand 2</h1>
    </div>
    <div class="container bg-light rounded fade-in">
        <h1 class="text-center">Welcome to eHand 3</h1>
    </div>
    <div class="container bg-light rounded fade-in">
        <h1 class="text-center">Welcome to eHand 4</h1>
    </div>


    
{% endblock %}

{% block content %}

{% endblock %}