{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'notices/css/notices.css' %}">
{% endblock %}
{% block extra_title %}
    - Create Notice
{% endblock %}
{% block page_header %}   
    <div class="container col-sm-12 col-md-6 offset-md-3 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="text-shadow title">Create Notice</h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container col-sm-12 col-md-6 offset-md-3 fade-in">
        <div class="row">
            <div class="col">
                <div class="card bg-transparent">
                    <div class="opaque"></div>
                    <div class="card-body text-white">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset>
                                <legend>Create / Update your Notice</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
