{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'notices/css/notices.css' %}">
{% endblock %}

{% block extra_title %}
    - Notice Board
{% endblock %}

{% block page_header %}
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar">
        <div class="btn-group" role="group" aria-label="First group">
            <a href="{% url 'notice-create' %}" type="button" class="btn btn-light toolbar-item"><i class="fas fa-plus pr-3"></i>Create Notice</a>
        </div>
    </div>
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="text-shadow">Notices</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container col-sm-12 col-md-10 offset-md-1 notice-container fade-in">
        <div class="row">
            {% for object in object_list %}
            
            <div class="col-sm-12 col-md-6">
                <div class="card h-200">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title}}</h5>
                        <p class="card-text">{{ object.author }}</p>
                        <p class="card-text">{{ object.short_description }}</p>
                        <h6 class="border rounded">Duration : {{ object.duration }}hrs</h6>
                        <h6 class="border rounded">When : {{ object.event_date_time }}</h6>
                        <a href="{% url 'notice-detail' object.id %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}