{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'notices/css/notices.css' %}">
{% endblock %}
{% block extra_title %}
    - Notice Details
{% endblock %}
{% block page_header %}
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="text-shadow title">{{ object.title }} Details</h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container col-sm-12 fade-in">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 offset-lg-1">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title border rounded text-white bg-info p-2 shadow">{{ object.title}} Details</h5>
                        <p class="card-text"><strong>{{ object.long_description }}</strong></p>
                        <p class="card-text"><em>Requested by {{ object.author|title }}</em></p>
                        {% if object.commit.id != 1 %}
                            {% if object.commit|lower == user.username|lower %}
                                <div class="card-title border rounded text-white bg-warning p-2 shado5">
                                    <h5 class="text-center"><strong><em>You have committed to this notice</em></strong></h5>
                                    <h5>Please remember:</h5>
                                    <ul>
                                        <li>You can view this notice in your profile under <em>"My Commitments".</em></li>
                                        <li>Once committed to a Notice you are obliged to carry out the help you have committed
                                            to on the date and time agreed with the author
                                        </li>
                                        <li>If you wish to no longer commit to this message you can remove your commitment by going to
                                            <em>"My Commitments"</em> in your profile section
                                        </li>
                                    </ul>
                                </div>
                            <!-- In the unlikly case that a user who has not committed to theis notice views this -->
                            {% else %}
                                <p class="card-text bg-warning"><em>Agreed to by: {{ object.commit|title }}</em></p>
                            {% endif %}
                        {% endif %}
                        <p class="border rounded bg-light p-2 shadow-sm"><strong>When: </strong>{{ object.specify_date }}</p>
                        <p class="border rounded bg-light p-2 shadow-sm"><strong>Where: </strong>{{ object.event_location_postcode}}</p>
                        <h6 class="border rounded bg-light p-2 shadow-sm"><strong>Duration/ Payment: </strong>{{ object.duration }}</h6>
                        <!-- Buttons -->
                        <div class="container col-12 mt-5 mb-2">
                            <div class="row justify-content-center justify-content-md-around">
                                <a href="{% url 'notices:notice-list' %}" class="col-10 col-md-5 col-lg-4 btn btn-outline-info mt-1 mb-1 shadow">Return to Notices</a>
                                <!-- the commit to work button -->
                                {% if user.is_authenticated and user != object.author %}
                                    {% if user.username|lower != object.commit|lower %}
                                        <form action="{% url 'notices:accept-notice' object.id %}" method="POST" class="col-10 col-md-5 col-lg-4 p-0">
                                            {% csrf_token %}
                                            <button type="submit" class="col-12 btn btn-outline-success mt-1 mb-1 shadow" value="{{ object.id }}" name="notice_id">Commit to help</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comments -->
            <div class="container col-sm-12 col-md-4 fade-in mt-4 mt-md-0">
                <!-- Comments Header -->
                <div class="card shadow">
                    <!-- <div class="card-header text-center bg-gradient-success text-white">
                        <span>{{ object.title }} Comments ...</span>
                        </div> -->
                    <h5 class="card-title border rounded text-white bg-info p-2 shadow m-3">{{ object.title }} Comments ...</h5>
                    <!-- Comments Body -->
                    <div class="card-body comment-container">
                        <ul class="comment">
                            {% if not notice.comments.all %}
                                <li id="no-comment">No comments yet</li>
                            {% else %}
                                {% for comment in notice.comments.all %}
                                    <!-- what current user said -->
                                    {% if comment.user.username|lower == user|lower %}
                                        <li class="d-flex justify-content-end">
                                            <div class="own-comment">
                                                <div class="header ">
                                                    <strong class="primary-font">You said:</strong>
                                                    <small>
                                                    {{ comment.timestamp|timesince }} ago
                                                    </small>
                                                </div>
                                                <p>
                                                    {{ comment.body }}
                                                </p>
                                            </div>
                                        </li>
                                    <!-- What the Author said -->
                                    {% elif comment.user.username|lower == object.author|lower %}
                                        <li>
                                            <div class="author-comment">
                                                <div class="header ">
                                                    <strong class="primary-font">{{ comment.user.username|title }} - (AUTHOR) said:</strong>
                                                    <small>
                                                    {{ comment.timestamp|timesince }} ago
                                                    </small>
                                                </div>
                                                <p>
                                                    {{ comment.body }}
                                                </p>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <div class="user-comment">
                                                <div class="header">
                                                    <strong class="primary-font">{{ comment.user.username|title }} said:</strong>
                                                    <small>
                                                    {{ comment.timestamp|timesince }} ago
                                                    </small>
                                                </div>
                                                <p>
                                                    {{ comment.body }}
                                                </p>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <form id="comment-form" action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <p><input type="submit" class="btn btn-success ehand-green-bg" value="Submit"></p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- About the author -->
            <div class="col-sm-12 col-md-8 col-lg-6 offset-lg-1 mt-4">
                <div class="card shadow">
                    <div class="card-body">   
                        <h5 class="card-title border rounded text-white bg-info p-2 shadow">{{ author|title }}'s' Details</h5> 
                            {% if author.full_name %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>Full Name: </strong>{{ author.full_name|title }}</p>
                            {% endif %}
                            {% if author.phone_number %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>Ph. Number: </strong>{{ author.phone_number }}</p>
                            {% endif %}
                            {% if author.street_address1 %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>Address: </strong>{{ author.street_address1|title }} {% if author.street_address2 %}{{ author.street_address2|title }}{% endif %}</p>
                            {% endif %}
                            {% if author.town_or_city %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>Town/City: </strong>{{ author.town_or_city|title }}</p>
                            {% endif %}
                            {% if author.county %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>County: </strong>{{ author.county|title }}</p>
                            {% endif %}
                            {% if author.default_country.name %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>Country: </strong>{{ author.default_country.name|title }}</p>
                            {% endif %}
                            {% if author.postcode %}
                                <p class="border rounded bg-light p-2 shadow-sm profile-field"><strong>Post Code: </strong>{{ author.postcode|title }}</p>
                            {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script>
    /** 
     * These scripts:
     * Get the form and listen to it
     * Hand the submitted form off to sendComment to handle getting the data
     * Pass the data to createComment to handle the fetch stuff
     */

    function createComment(formData) {
        /**
         * Here is where we create the new comment on the Db
         * Also update the html
         */

        // i need the token so js can submit the form
        let csrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        fetch("{% url 'notices:notice-detail' object.pk %}", {
            method: "Post",
            // need additional info - token and request type
            headers: {
                "X-CSRFToken": csrfValue,
                "X-Requested-With": "XMLHttpRequest"
            },
            body: formData
        }).then(function(response) {
            return response.json();
        // then just reset the form and update
        }).then(function(data) {
            commentFormElement.reset();
            console.log(data);
            // get the instance of the new comment
            let instance = JSON.parse(data["new_comment"]);
            let fields = instance[0]["fields"];
            // now get the elements we are interested in updating.
            let currentCommentsList = document.querySelector(".own-comment");
            let commentsList = document.querySelector(".comment");
            let noComment= document.querySelector("#no-comment");

            // check if there is a no-comment element - remove it - as we dont need it anymore
            if(noComment) {
                commentsList.removeChild(noComment);
            }
            // append the comment
            commentsList.innerHTML += `
                <li class="d-flex justify-content-end">
                    <div class="own-comment">
                        <div class="header ">
                            <strong class="primary-font">You said:</strong>
                            <small>
                                Just Now
                            </small>
                        </div>
                        <p>
                            ${fields['body'] || " "}
                        </p>
                    </div>
                </li>
            `;
            /* window.location = '#my-ne-comment'; */
            // if fetch is not successful - then catch the error
        }).catch((error) => {
            console.error("Error", error);
        });
    } 


    function sendComment(e) {
        /** 
         * Called whenever the comment form is submitted
         * Gets the data and passes it on to createComment 
        */

        e.preventDefault();
        let content = document.querySelector("#id_body").value;
        console.log(content);
        if(content){
            let formData = new FormData(commentFormElement);
            console.log(formData)
        createComment(formData);
        }else {
        // form is empty you dont need to submit
        console.log("You cannot submit an empty form")
        }
    }

    let commentFormElement = document.getElementById("comment-form");
    commentFormElement/addEventListener("submit", sendComment);
</script>
{% endblock %}