{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block extra_title %}
    - Error 500
{% endblock %}
{% block page_header %}
    <div class="container col-sm-12 col-md-10 offset-md-1 fade-in">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-shadow title">Error 500 : Whoops</h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container col-sm-12 col-md-6 offset-md-3 fade-in">
        <div class="row">
            <div class="col">
                <div class="card bg-transparent">
                    <div class="opaque"></div>
                    <div class="card-body text-white">
                        <p class="ehand-green-text">Sorry about this, but something has gone wrong on the web site's server. 
                            Please use the button below to return to the Homepage, or use the links above. Then try again.
                        </p>
                        <p>If the problem persists, please try again later, rest asured that our developers will 
                            be working on any problems to repair them and return normal service as soon as possible.
                         </p>
                         <p>Thank you for your patience..</p>
                         <a href="{% url 'home' %}" class="btn btn-light ml-2">Return to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}