{% load static %} <!-- for when we need to load static files later -->

<!doctype html>
<html lang="en">

<head>
	{% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	{% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
        <script src="https://kit.fontawesome.com/574ac543a9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" 
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
            integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
        </script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="{% static 'js/base.js' %}"></script>


        

	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>eHand {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- Logo -->
    <div id="page-logo-container" class="fixed-top">
        <div id="page-logo" class="container">
            <a href="{% url 'home' %}">
                <img src="{% static '/images/ehand_logo.png' %}" alt="" class="img-fluid">
            </a>
        </div>
    </div>

    <!-- Header --> 
    <nav class="navbar navbar-expand-md navbar-light bg-transparent flex-row-reverse slimNav">
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-transparent justify-content-center" id="navbarNavAltMarkup">
            <div class="navLogo mr-5">
                <a href="{% url 'home' %}"><img src="{% static '/images/ehand_logo.png' %}" alt="" class="img-fluid"></a>
            </div>
            
            <div class="navbar-nav text-center">
                <a class="nav-item nav-link first-btn" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="#">Hands</a>
                <a class="nav-item nav-link" href="#">Profile</a>
                <a class="nav-item nav-link" href="#">Upgrade</a>
                <a class="nav-item nav-link" href="#">Register</a>
                <a class="nav-item nav-link" href="#">Log in</a>
                <a class="nav-item nav-link last-btn" href="#">Log out</a>
            </div>
        </div>
    </nav>
   
    <!-- Main content -->
    <section id="page-content">
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, veritatis inventore molestias ipsa temporibus sint, 
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>
                maiores aliquam tempora error impedit perferendis consequuntur saepe ullam harum, nihil consectetur? Vero, atque consequuntur!</p>

            {% block page_header %}
            {% endblock %}
        </div>
        
    </section>
    
    

    {% block content %}
    {% endblock %}


</body>
</html> 