/* Over-ride base.css */
 #page-heading {
     margin-top: 100px;
}
 #page-content {
     margin-top: 10px;
}
/* Stripe elements */
 .StripeElement, .stripe-style-input {
     height: 40px;
     padding: 10px 15px 10px;
     background-color: #fefde5;
     border: solid 1px #c2fa00;
     -webkit-transition: box-shadow 150ms ease;
     -webkit-transition: -webkit-box-shadow 150ms ease;
     transition: -webkit-box-shadow 150ms ease;
     -o-transition: box-shadow 150ms ease;
     transition: box-shadow 150ms ease;
     transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}
 .StripeElement--focus, .stripe-style-input:focus, .stripe-style-input:active {
     -webkit-box-shadow: 0 1px 6px 0 #c2fa00;
     box-shadow: 0 1px 6px 0 #c2fa00;
}
#stripe-token-handler {
  position: absolute;
  right: 25%;
  left: 25%;
  top: 25%;
  border-radius: 10px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
            0 15px 35px rgba(50, 50, 93, 0.15),
            0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transform: translateY(0);
  padding: 20px 30px;
  opacity: 1;
  font-size: 1.2rem;
  text-align: center;
  background-color: #c2fa00;
}
#stripe-token-handler.is-hidden {
  opacity: 0;
  /* transform: translateY(-80px); */
}
 .StripeElement--webkit-autofill {
     background-color: #e5f5fe !important;
}
 .stripe-style-input::-webkit-input-placeholder {
     color: #418cd8;
}
 .stripe-style-input::-moz-placeholder {
     color: #418cd8;
}
 .stripe-style-input:-ms-input-placeholder {
     color: #418cd8;
}
 .stripe-style-input::-ms-input-placeholder {
     color: #418cd8;
}
 .stripe-style-input::placeholder {
     color: #418cd8;
}
 .fa-stripe:before {
     color: #418cd8;
}
 .fieldset-label {
     position: relative;
     right: .5rem;
}
 #payment-form .form-control, #card-element {
     color: #000;
     border: 1px solid #000;
}
 select, select option {
     color: #000;
}
 select:invalid, select option[value=""] {
     color: #7a7c7e !important;
}
/* Page logo - MEDIA QUERIES */
/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:768px) {
     #page-heading {
         margin-top: 250px;
    }
}
