{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block extra_title %}
    - {% trans "Register" %}
{% endblock %}

{% block inner_content %}
    <h1>{% trans "Register" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn btn-success ehand-green-bg" type="submit">{% trans "Register" %} &raquo;</button>
  <a href="{% url 'home' %}" class="btn btn-outline-secondary ml-2">{% trans 'Cancel' %}</a>
</form>

{% endblock %}
